

.body-initial {background-color: rgba(255,255,255,1); position: static;}.silex-id-1649420435186-0 {width: 100000px; min-height: 2588px; background-color: rgb(255, 255, 255); position: absolute; top: 0.9920635223388672px; left: 1px;}@media only screen and (max-width: 480px) {}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}body.silex-runtime {opacity: 1;}
